# Токен бота (Developer Portal -> Bot -> Reset Token)
TOKEN=
# ID приложения (Developer Portal -> General Information -> Application ID)
CLIENT_ID=
# ID твоего сервера (правый клик по серверу -> Копировать ID)
GUILD_ID=
